h1 {
  color: #9b870c;
  text-align: center;
  background-color: yellow;
  border: inset 15px red;
  margin: auto;
  width: 200px;
}
p {
  color: darkred;
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-color: green;
}

nav {
  background-color: red;
  text-align: left;
  padding: 3px;
}

ul {
  list-style-type: none;
  padding: 0.1px;
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

li {
  display: inline-block;
}

header {
  color: darkblue;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 25px;
}

a:hover {
  background-color: black;
  color: white;
  border: outset 7px darkgray;
}

a {
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #9b870c;
  border: outset 3px red;
  color: black;
}
 li {
   color: white;
 }
